

nav.navbar.navbar-inverse
	ul.nav.nav-pills
		li(class=page || 'active')
			a(href="/") Home
		li(class=page === 'About' ? 'active' : '')
			a(href="/about") About
		li(class=page === 'Contact' ? 'active' : '')
			a(href="/contact") Contact
		li(class=page === 'Order' ? 'active' : '')
			a(href="/order") Order
